
body {
    background-color: lightblue;
}

div {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: darkcyan;
    color: white;
}

p {
    text-align: justify;
}
.chapeau {
    color: rgb(200, 255, 71);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-variant: small-caps;
}

h2 {
    color: yellow;
}

h3 {
    color: tomato;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.note {
    text-align: right;
}